name: Run HelioHost Login Script

on:
  workflow_dispatch:
  schedule:
    - cron: '0 11 * * 5'  # 每周五北京时间19时运行一次
  push:
    branches:
      - main

jobs:
  login-script:
    runs-on: ubuntu-latest  # 运行环境

    steps:
      # 检出代码仓库
      - name: Checkout repository
        uses: actions/checkout@v3

      # 设置 Python 环境
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      # 安装依赖
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # 运行脚本
      - name: Run HelioHost Login Script
        env:
          USERNAME: ${{ secrets.USERNAME }}              # 从 GitHub Secrets 获取用户名
          PASSWORD: ${{ secrets.PASSWORD }}              # 从 GitHub Secrets 获取密码
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}  # Telegram Bot Token
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}      # Telegram Chat ID
        run: python auto-login.py
